.card__image {
    max-width: 282px;
    min-height: 282px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .card__image {
        max-width: 330px;
    }
}

@media screen and (max-width: 795px) {
    .card__image  {
        max-width: calc(100vw - 100px);
    }     
}

@media screen and (max-width: 440px) {
    .card__image  {
        max-width: 282px;
    }     
}