.card {
    list-style: none;      
    line-height: 0;   
    margin-bottom: 20px;
    position: relative;
}

/* @media screen and (max-width: 900px) {
    .card {
        max-width: 330px;
    }
    .card:nth-child(3n) {
        margin-right: 17px;
    }
} */

/* @media screen and (max-width: 795px) {
    .card  {        
        margin: 0 20px 20px 0;
    }     
} */

/* @media screen and (max-width: 440px) {
    .card  {
        max-width: 282px;
    }     
} */
